*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
}
:root{
  --bg-color:'pink';
}
#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
 color: white;
  transition: 0.3s ease-in-out;
}
.navbar-button{
  display: flex;
  gap: 1rem;
}

#navbar li a:hover::after,#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.hamburger{
  display: none;
}
.ham-icon{
  width: 2rem;
  height: 2rem;
}
#cross-icon{
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width:769px){
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: -800px;
    width: 100%;
    height: 100vh;
    background: #5f535396;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    background-color: black;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  .hamburger{
    display: block;
  }
  .hamburger i{
    font-size: 24px;
    cursor: pointer;
  }
}
